/* styling for the services section */
#services{
    display: flex;
justify-content: space-evenly;
margin-top: 300px;

}

.single-service{
    width: 81px;
    height: 82px;
    /* box-sizing: border-box;
    background: white;
    box-shadow: 1px 1px 1px 1px black ; */
}
.service-icons{
    font-size: 40px;
    color: white;
    background-color: orange;
    border-radius: 50%;
    padding: 7px 7px 6px 13px;
    padding: 15px;
    text-align: center;
}

.single-service p{
    /* position: absolute; */
    font-size: 20px;
}